{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 2%, not dead"
        }
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ]
}